<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI2TeJ9cVYNH8LdfzbO3B72qFAd-RCDqA</string>
	<key>GCM_SENDER_ID</key>
	<string>865583989921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.committee.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>committee-a16a2</string>
	<key>STORAGE_BUCKET</key>
	<string>committee-a16a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865583989921:ios:f28a67ee327a2abcd35ce0</string>
</dict>
</plist>